<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test.TestSteps</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>scenarioWelcomeMessage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>sccenarioNewTask3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>scenarioRemoveSubTask</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>scenarioNewTask250</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>scenarioSubtask</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>scenarioMarSubkTaskDone</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>scenarioRemoveTask</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>scenarioMarkTaskDone</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
